/* App.css */

.App {
  font-family: 'Segoe UI', sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background-color: rgb(133, 127, 121);
}

.container {
  width: 90%;
  margin: 30px auto;
  background-color: rgb(197, 166, 126);
  border-radius: 10px;
  padding: 20px;
}

h2 {
  color: #333;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  
  background-color: wheat;
  margin: 5px;
}

hr {
  margin: 20px 0;
}

input {
  width: 80%;
  padding: 10px;
  background-color: white;
  margin: 5px 0;
}

.events-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.event-item {
  width: 85%; /* Asegura que ocupe el ancho completo */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries para ajustes en dispositivos más pequeños */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .events-grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos más pequeños */
  }

  .event-item {
    width: 100%; /* Cambia a 100% de ancho en dispositivos más pequeños */
  }
}

/* Add more styles as needed */
